@model IEnumerable<ListBooks.Models.BookModels>
@{ 
    ViewBag.Title = "List Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.TitlePageName</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    @item.Title
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class="pull-right"})
                </div>
                <div class="panel-body">
                    <p>
                        <strong>Author : </strong>@item.Author
                    </p>
                    <p>
                        <strong>Public Year: </strong>@item.PublicYear
                    </p>
                    <p><img src="/@item.Cover" alt="hinh thumnail"></p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a href="#" class="btn btn-primary">Order</a>
                        @Html.ActionLink("Read more...", "Detail", new { id = item.Id }, new {@class="btn btn-default"})
                    </div>
                </div>
            </div>
        </div>
     }
</div>